[area] 
### Define the range over which to calculate 1D S-velocity
### profiles. The numbers have to match the latitudes and 
### longitudes of the surface wave maps. Further, as the 
### range is defined in python syntax, the last point will
### not be included: 'arange(43.,47.)' yields '43., 44., 45., 46.'

### St. Lawrence Basin:
#runlat=arange(43.,52.)  
#runlon=arange(-68.,-55.)  

### Whole country
#runlat = arange(24.,89.)
#runlon = arange(-156.,-43.)

### Second run whole country
runlat = arange(40.,71.)
#runlon = arange(-150.,-54.)
runlon = arange(-80.,-54.)

### Test
#runlat=[67.]
#runlon=[-156.]

[data]
#results=../../results/st_lawrence_basin_canada/
#results=../../results/canada/
#results=../../results/canada_2nd_run
results=/home/ybehr/results/canada_2nd_run
data=../../data/
alpha=1200
sigma=100
periods=r_[5,6,7,8,9,10,12,15,18,arange(20,95,5)]

[run-control]
### Only create dispersion curves and parameterisations but
### don't run the inversion.
testrun=false

### Plot the 1D S-velocity profiles
plot=false