[we-profiles]
slat = [ 64. , 56. , 50. ]
slon = [-143.,-130.,-125.]
elat = [ 64. , 60. , 48. ]
elon = [-91. ,-96. ,-70. ]
anot = [("A","A'"),("B","B'"),("C","C'")]

[ns-profiles]
slat = [ 63. , 69. , 68. , 62.]
slon = [-135.,-122.,-100.,-74.]
elat = [ 42. , 42. , 42. , 42.]
elon = [-115.,-112.,-100.,-74.]
anot = [("D","D'"),("E","E'"),("F","F'"),("G","G'")]

[map]
fout = 2D_profiles_map.eps
invres = [(-95.,50.),(-121.,51.),(-75.,52.)]

[profiles]
direction = we
fout = cross_sections_we.eps
xscale=4000.
yscale=3.25
